[Unit]
Description=Run Pummelchen Tested Updates Feed Generator every 15 minutes
Requires=pummelchen-tested-updates.service

[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target